<!DOCTYPE html>
<html>
  <head>
    <title>ProRouting.ai</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    
<!-- Hotjar Tracking Code for my site -->
<script>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
    h._hjSettings = { hjid: 3409725, hjsv: 6 };
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script'); r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Start of Async Drift Code -->
<script>
  "use strict";

  !function () {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
        t.factory = function (e) {
          return function () {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function (e) {
          t[e] = t.factory(e);
        }), t.load = function (t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('xduet4gp7tgx');
</script>
<!-- End of Async Drift Code -->


  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <script type="text/javascript">
      var _cio = _cio || [];
      (function () {
        var a, b, c; a = function (f) {
          return function () {
            _cio.push([f].
              concat(Array.prototype.slice.call(arguments, 0)))
          }
        }; b = ["load", "identify",
          "sidentify", "track", "page"]; for (c = 0; c < b.length; c++) { _cio[b[c]] = a(b[c]) };
        var t = document.createElement('script'),
          s = document.getElementsByTagName('script')[0];
        t.async = true;
        t.id = 'cio-tracker';
        t.setAttribute('data-site-id', 'ba894d1344b87b9e007d');
        t.setAttribute('data-base-url', 'https://customerioforms.com');
        t.setAttribute('data-use-array-params', 'true');


        // To disable in-app messages, remove the two lines below
        t.setAttribute('data-in-app-org-id', 'undefined');
        t.setAttribute('data-use-in-app', 'true');
        // If data-in-app-org-id was not filled above, go to
        // the following link to find it: https://fly.customer.io/env/last/settings/actions/in_app'

        t.src = 'https://assets.customer.io/assets/track.js';

        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
